/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/*=============== SCSS Import ===============*/
@import url("/assets/css/components/header.css");
/*=============== VARIABLES SCSS ===============*/
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== marg Bottom ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*=============== BASE ===============*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /*=============== Header ===============*/
}

html ul {
  list-style: none;
}

html a {
  text-decoration: none;
}

html img {
  max-width: 100%;
  height: auto;
}

html button {
  cursor: pointer;
  border: none;
  outline: none;
}

html body {
  background-color: #868786 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

html body main .first-sct {
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .first-sct div a {
  text-decoration: none;
  border: 1px solid #F5A95F;
  color: #FFF;
  border-radius: 1rem;
  padding: 16px;
}

html body main .first-sct div a:hover {
  background-color: #F5A95F;
  -webkit-transition: 0,8s ease-in;
  transition: 0,8s ease-in;
}

html body main .first-sct img {
  width: 30%;
}

html body main .about-sct .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

html body main .about-sct .separator h2 {
  color: #fff;
}

html body main .about-sct .separator hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 2px solid #F5A95F;
}

html body main .about-sct .txt {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  html body main .about-sct .txt {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 620px) {
  html body main .about-sct .txt {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 530px) {
  html body main .about-sct .txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html body main .about-sct .txt .first-el {
  max-width: 50%;
}

@media screen and (max-width: 530px) {
  html body main .about-sct .txt .first-el {
    max-width: 70%;
  }
}

html body main .about-sct .txt .first-el p {
  max-width: 40%;
  color: #fff;
}

@media screen and (max-width: 530px) {
  html body main .about-sct .txt .first-el p {
    max-width: 85%;
    margin-bottom: 1rem;
    text-align: center;
  }
}

html body main .about-sct .txt .first-el .plateau-img {
  width: 40%;
}

@media screen and (max-width: 530px) {
  html body main .about-sct .txt .img-ct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html body main .about-sct .txt .img-ct img {
  width: 80%;
}

@media screen and (max-width: 620px) {
  html body main .about-sct .txt .img-ct img {
    width: 50%;
  }
}

html body main .our-games {
  margin-top: 10rem;
}

html body main .our-games .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

html body main .our-games .separator h2 {
  color: #fff;
}

html body main .our-games .separator hr {
  width: 89%;
  height: 1px;
  border: 0;
  border-top: 2px solid #F5A95F;
}

html body main .our-games .elem-bottom {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 530px) {
  html body main .our-games .elem-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html body main .our-games .elem-bottom p {
  color: #fff;
  margin-top: 5rem;
  max-width: 65%;
}

@media screen and (max-width: 530px) {
  html body main .our-games .elem-bottom p {
    max-width: 80%;
    text-align: center;
  }
}

html body main .our-games .elem-bottom img {
  width: 20%;
}

@media screen and (max-width: 530px) {
  html body main .our-games .elem-bottom img {
    width: 50%;
  }
}

html body main .team {
  margin-top: 5rem;
}

html body main .team .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

html body main .team .separator h2 {
  color: #fff;
}

html body main .team .separator hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 2px solid #F5A95F;
}

html body main .team p {
  color: #fff;
  margin-top: 3rem;
}

html body main .team .team-card .parent {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  html body main .team .team-card .parent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
}

html body main .team .team-card .parent .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 210px;
}

html body main .team .team-card .parent .child h3 {
  color: #fff;
  margin-top: 1rem;
}

html body main .team .team-card .parent .child span {
  color: #fff;
}

html body main .team .team-card .parent img {
  width: 168px;
  height: 180px;
  border-radius: 0.5rem;
  border-bottom: 3px solid #F5A95F;
}

html body main .donation-goal {
  margin-top: 3rem;
}

html body main .donation-goal .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

html body main .donation-goal .separator h2 {
  color: #fff;
}

html body main .donation-goal .separator hr {
  width: 90%;
  height: 1px;
  border: 0;
  border-top: 2px solid #F5A95F;
}

html body main .donation-goal .parent-crd {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

html body main .donation-goal .parent-crd .crd {
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #F5A95F;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
}

html body main .donation-goal .parent-crd .crd:hover {
  background-color: #F5A95F;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

html body footer hr {
  margin-top: 5rem;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 2px solid #F5A95F;
}

html body footer div {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

html body footer div span {
  color: #fff;
  text-align: center;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #F5A95F;
  opacity: .8;
  padding: 0.3rem;
  border-radius: .4rem;
  z-index: 3;
  -webkit-transition: .4s;
  transition: .4s;
}

.scrollup:hover {
  background-color: #f5aa5f96;
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #FFF;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.60rem;
  background-color: #222222;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #F5A95F;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f5aa5f96;
}
/*# sourceMappingURL=styles.css.map */